* {
    margin: 0;
    box-sizing: border-box;
}

ul.first-menu{
    display: flex;
    list-style-type: none;
    align-items: center;
}

li {
   border: 1px solid gray;
}

.nav {
    display: flex;
    align-items: center;
}